.about-section {
  padding-top: 10rem;
   background-image: url('../img/bg-masthead.jpg');background-position: center;background-attachment: fixed;background-size: cover;
  p {
    margin-bottom: 5rem;
  }
}
